doctype html
html
  head
    meta(charset="UTF-8")
    title Internet Website 2001
    //- BS4 grid
    link(rel="stylesheet" href="../css/grid.css")
    //- project styles
    link(rel="stylesheet" href="styles/main.css")

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")

    script.
      $(document).ready(function(){
        // do a bunch of 2009 things here
      });
  body
    .container
      .row.justify-content-md-center
        .col-2
          p Mumblecore stumptown hella banjo la croix neutra. Locavore selfies 90's marfa dreamcatcher heirloom. Bespoke vape put a bird on it irony, drinking vinegar synth pop-up quinoa. Gentrify heirloom slow-carb seitan four dollar toast migas plaid godard glossier scenester chambray. Brooklyn flannel irony, poke fam tote bag keytar truffaut iceland af paleo humblebrag. 
        .col-sm-auto
          p I am small
        .col-2
          p Mumblecore stumptown hella banjo la croix neutra. Locavore selfies 90's marfa dreamcatcher heirloom. Bespoke vape put a bird on it irony, drinking vinegar synth pop-up quinoa. Gentrify heirloom slow-carb seitan four dollar toast migas plaid godard glossier scenester chambray. Brooklyn flannel irony, poke fam tote bag keytar truffaut iceland af paleo humblebrag. 
    
    .container
      .row.justify-content-md-center
        .col
          p Mumblecore stumptown hella banjo la croix neutra. Locavore selfies 90's marfa dreamcatcher heirloom. Bespoke vape put a bird on it irony, drinking vinegar synth pop-up quinoa. Gentrify heirloom slow-carb seitan four dollar toast migas plaid godard glossier scenester chambray. Brooklyn flannel irony, poke fam tote bag keytar truffaut iceland af paleo humblebrag. 
        .col-sm-auto
          p I am small
        .col-2
          p Mumblecore stumptown hella banjo la croix neutra. Locavore selfies 90's marfa dreamcatcher heirloom. Bespoke vape put a bird on it irony, drinking vinegar synth pop-up quinoa. Gentrify heirloom slow-carb seitan four dollar toast migas plaid godard glossier scenester chambray. Brooklyn flannel irony, poke fam tote bag keytar truffaut iceland af paleo humblebrag. 
    hr(style="visibility:hidden")
    .container-fluid
      .row.justify-content-md-center
        .col-2
          p Mumblecore stumptown hella banjo la croix neutra. Locavore selfies 90's marfa dreamcatcher heirloom. Bespoke vape put a bird on it irony, drinking vinegar synth pop-up quinoa. Gentrify heirloom slow-carb seitan four dollar toast migas plaid godard glossier scenester chambray. Brooklyn flannel irony, poke fam tote bag keytar truffaut iceland af paleo humblebrag. 
        .col-sm-auto
          p I am small
        .col-2
          p Mumblecore stumptown hella banjo la croix neutra. Locavore selfies 90's marfa dreamcatcher heirloom. Bespoke vape put a bird on it irony, drinking vinegar synth pop-up quinoa. Gentrify heirloom slow-carb seitan four dollar toast migas plaid godard glossier scenester chambray. Brooklyn flannel irony, poke fam tote bag keytar truffaut iceland af paleo humblebrag. 
    
    .container-fluid
      .row.justify-content-md-center
        .col
          p Mumblecore stumptown hella banjo la croix neutra. Locavore selfies 90's marfa dreamcatcher heirloom. Bespoke vape put a bird on it irony, drinking vinegar synth pop-up quinoa. Gentrify heirloom slow-carb seitan four dollar toast migas plaid godard glossier scenester chambray. Brooklyn flannel irony, poke fam tote bag keytar truffaut iceland af paleo humblebrag. 
        .col-sm-auto
          p I am small
        .col-2
          p Mumblecore stumptown hella banjo la croix neutra. Locavore selfies 90's marfa dreamcatcher heirloom. Bespoke vape put a bird on it irony, drinking vinegar synth pop-up quinoa. Gentrify heirloom slow-carb seitan four dollar toast migas plaid godard glossier scenester chambray. Brooklyn flannel irony, poke fam tote bag keytar truffaut iceland af paleo humblebrag. 