doctype html
html
  head
    meta(charset="UTF-8")
    title Internet Website 2001
    //- BS4 grid
    link(rel="stylesheet" href="../css/grid.css")
    //- project styles
    link(rel="stylesheet" href="styles/main.css")

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")

    script.
      $(document).ready(function(){
        // do a bunch of 2009 things here
      });
  body  
    .container-fluid
      //- .row
      //-   .col-3
      //-     h1 3
      //-   .col-6
      //-     .row
      //-       h1 6
      //-     .row
      //-       .col-4
      //-         h3 4
      //-       .col-4
      //-         h3 4
      //-       .col-4
      //-         h3 4
      //-     .row
      //-       .col-1
      //-         p &nbsp;
      //-       .col-1
      //-         p &nbsp;
      //-       .col-1
      //-         p &nbsp;
      //-       .col-1
      //-         p &nbsp;
      //-       .col-1
      //-         p &nbsp;
      //-       .col-1
      //-         p &nbsp;
      //-       .col-1
      //-         p &nbsp;
      //-       .col-1
      //-         p &nbsp;
      //-       .col-1
      //-         p &nbsp;
      //-       .col-1
      //-         p &nbsp;
      //-       .col-1
      //-         p &nbsp;
      //-       .col-1
      //-         p &nbsp;
      //-   .col-3
      //-     h1 3
      .row
        .col-2
          p &nbsp;
        .col-2
          p &nbsp;
        .col-2
          p &nbsp;
        .col-2
          p &nbsp;
        .col-2
          p &nbsp;
        .col-2
          p &nbsp;