doctype html
html
  head
    meta(charset="UTF-8")
    title Internet Website 2001
    //- BS4 grid
    link(rel="stylesheet" href="../css/grid.css")
    //- project styles
    link(rel="stylesheet" href="styles/main.css")

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")

    script.
      $(document).ready(function(){
        // do a bunch of 2009 things here
      });
  body
    h1 Examples:
    p
      a(href="/01_fluid-v-fixed.html") Fluid vs Fixed containers
    p
      a(href="/02_fluid-v-fixed-cols.html") Fluid vs Fixed w/ columns
    p
      a(href="/03_col-widths.html") Mixing declared and undeclared widths

    p
      a(href="/04_auto-width.html") Auto-resizing columns without set widths

    p
      a(href="/05_no-gutters.html") Without gutters

    p
      a(href="/06_sizes-at-breakpoints.html") Sizes at breakpoints

    p
      a(href="/07_element-count-at-breakpoint.html") Element count at breakpoint

    p
      a(href="/08_mobile-first.html") Column widths are declared mobile-first and cascade up

    p
      a(href="/09_nesting.html") Nesting
    p
      a(href="/10_nesting2.html") Nesting 2

